.guide__box {
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  color: inherit;
  padding: 15px;
  border-radius: 10px;
  height: 100px;
  position: relative;
  color: white;
}

.navy {
  background-color: #1a365d;
}

.red {
  background-color: #822727;
}

.darkGreen {
  background-color: #22543d;
}

.blueishGreen {
  background-color: #234e52;
}

.blue {
  background-color: #2a4365;
}

.blood {
  background-color: #63171b;
}

.dark {
  background-color: #171923;
}


.brown {
  background-color: brown;
}

.darkerGreen {
  background-color: #1c4532;
}
