
 <ion-grid>
  <ion-row>
    <ion-col 
    *ngFor="let item of children; let i = index"
    size-lg="3" size-xs="12" >
      <div
      [ngClass]="colorDic[i]"
      class="guide__box navy"
      >
      <ion-grid>
        <ion-row>
          <ion-col  size="10"> <p>{{item.desc}}</p></ion-col>
          <ion-col  size="2"> 
            <ion-checkbox 
            [(ngModel)]="item.done"
            (ionChange)="save(item.id,item.done)"
            style="margin-top:14px"
            color="light"></ion-checkbox></ion-col>
        </ion-row>
      </ion-grid>
      
      </div>
   
    </ion-col >

  </ion-row>

  </ion-grid>