

  <ion-header class="ion-no-border">
    <ion-toolbar>
      
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
     <!--  <ion-title>Frontend Path</ion-title> -->
     <div class="title">Frontend Path</div>
    </ion-toolbar>
  </ion-header>


<ion-content>

  <app-roadmap
  (clickEvent)="goTo($event)"

  mainIdPrefix="fo"
  type="frontend"
 [roadmapArr]="frontEndArr">
 </app-roadmap>


</ion-content>
