
 
    .guide__container{
      margin: 0 auto;
      width:max-content;
      margin-top:20px;
    }
    
    .parent_block{
      background-color:#FFFF00;
      color:black;
      border: 3px solid black;
      padding:5px;
      width:110px;
      text-align: center;
      position: relative;
    }

    .parent_block--margin_big {
      margin-top:90px
    }
    .parent_block--margin_small {
      margin-top:40px
    }


    .parent_badge{
      position:absolute;
      top:-12px;
      left:50px;
    }


    .first { margin-top: 10px !important; }
  
    .new_row{
      grid-column-start: 1;
    }
  

    .child_block {
      background-color:#FFE599;
      color:black;
      border:2px solid black;
      padding:5px;
      width:90px;
      text-align: center;
      margin-top:10px;
    }

    .children {
      margin-top:80px;
    }
  
    .selected {
      background-color: blue;
      color:white;
      font-weight: bolder;
    }



    *, *::before, *::after {
      box-sizing: border-box;
    }
    
 