 
<ion-content  [scrollEvents]="true"   (ionScrollEnd)="onEndScroll()" (ionScroll)="onScroll($event)"> 

 

  <div   class="guide__container"  *ngFor="let item of roadmapArr ;let i=index;"> 
    <div
    [ngClass]="[item.selected ? 'rainbow':'', i === 0 ? 'first':'',
     i > 0 ? item.group === roadmapArr[i-1].group && i > 0 ? 'parent_block--margin_small' : 'parent_block--margin_big' : '' ]"
    (click)="blockClicked({key:item.key, id: item.id})"
    class="parent_block" [id]="item.id" > {{item.title}}
    <ion-badge 
    *ngIf="item.status"
    class="parent_badge" [color]="item.status === 'onGoing' ? 'warning' :'success'">
    {{ item.status === 'onGoing' ? 'Ongoing' :'Done' }}</ion-badge>
  </div>


  </div>

<br><br><br><br><br><br>
 

  </ion-content>
 

