<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img 
        (click)="showActionSheet(photo, position)"
        [src]="photo.webPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    
      <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>

 <!--  <app-explore-container name="Gallery page"></app-explore-container> -->
</ion-content>

