<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      Guides
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div *ngIf="mainMode">  
  <h3 style="text-align: center;">Select a career path</h3>

  <ion-grid >
    <ion-row>
      <ion-col 
      *ngFor="let item of guidesArr"
      size-lg="3" size-xs="12" >
        <div
        (click)="guideClicked(item.key)"
        [ngClass]="item.color"
        class="guide__box"
        >
          <h3>{{item.title}}</h3>
          <p>{{item.desc}}</p>
        </div>
     
      </ion-col >

    </ion-row>

    </ion-grid>
  </div>

 



</ion-content>


