<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div 
  >
  <p class="childrenText">{{childrenText}}</p>

   <app-children
   [parentId]="id"
   [children]="children" >
 
   </app-children>
   </div>
</ion-content>
